* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 0;
}

.media-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

hr {
  margin-top: 50px;
}
